/* =========================
   DELETE CHANNEL ICON
========================= */

.channel-delete-btn {
  margin-left: auto;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #888;
  display: none;
}

.channel-item:hover .channel-delete-btn {
  display: block;
}

.channel-delete-btn:hover {
  color: #e01e5a;
}
