.header__title {
    font-size: 25px;
    color: green;
    margin-left: 10px;
}

.header {
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header__side {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    gap: 10px;
}

.header__upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(202, 202, 201);
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.header__text-input {
    font-size: 14px;
    margin-left: 20px;
    border: none;
    resize: none;
    overflow: hidden;
    outline: none;
    width: auto;
    flex: 1;
    min-height: 22px;
    background-color: rgb(202, 202, 201);
}

.header__text-input-icon{
        height: 40px;
    width: 50px;
    border: none;
    background-color: rgb(202, 202, 201);
    border-radius: 50px;
}

.header__icon {
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    transition: background-color 0.2s ease;
}

.header__icon:hover {
    background-color: rgb(223, 221, 221);
}